.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: thin solid lightblue;
    margin-bottom: 1rem;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 1rem;
}
.category {
    padding: 1rem;
    padding: 1rem;
    width: 8rem;
    text-align: center;
    border-bottom: 4px solid white;
    cursor: pointer;
}
.category:hover {
    transition: all 0.3s ease;
    color: rgb(35, 112, 228);
    border-bottom: 4px solid rgb(35, 112, 228); 
}
.list {
    width: 8rem;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(173, 216, 230, 0.664);
    border-radius: 0 0 0.3rem 0.3rem;
    z-index: 999;
}
.listElement {
    display: block;
    width: 100%;
}
.listElement:hover {
    color: rgb(30, 92, 185);
    font-weight: bold;
}

.searchBar {
    display: none;
}
.cart {
    padding-right: 2rem;
}

@media (max-width: 800px) {
    .nav {
        display: none;
    }
    .searchBar {
        display: block;
        padding: 1rem;
    }
}