.headerTop {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(35, 112, 228);
    z-index: 999;
}
.containerLeft, .containerRight {
    display: flex;
    color: white;
    background-color: rgb(35, 112, 228);
    justify-content: space-around;
    align-items: center;
    z-index: 500;
    position: sticky;

}
.link {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
.link:link, .link:visited, .link:active {
    text-decoration: none;
    color: inherit;
}
.toggle {
    display: none;
    padding: 0 1rem;
}
.title {
    font-size: 18px;
    margin: 0 0.5rem;
}
.h1 {
    margin: 0 0.5rem;
    color: white;
}
.h1Span {
    background-color: rgb(30, 92, 185);
    font-size: 1.1em;
    padding: 0.5rem 0.8rem;
    margin-right:  0.5rem;
    border-radius: 0.2rem;
    color: yellow;
}
.nav {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.cart {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    border-radius: 50%;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    text-align: center;
    cursor: pointer;
}
.cart:hover {
    transition: 0.3s ease-out;
    background-color: rgb(30, 92, 185);
}

@media (max-width: 800px) {
    .toggle {
        display: inline;
    }
    .cart {
        padding:  0 1rem;
    }
    .cart:hover {
        background-color: inherit;
    }
    .nav {
        display: none;
    }
    .searchBar {
        display: none;
    }

}