.searchList {
    color: gray;
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 24px;
    border-radius: 0.3rem;
}
.listContainer {
    margin: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgba(173, 216, 230, 0.788);
    list-style: none;
}
.listItem {
    display: inline-block;
    font-size: 17px;
    color: black;
    padding: 0.2rem 0.5rem;
    width: 100%;
}
.listItem:hover {
    background-color: rgb(35, 112, 228);
    color: white;
}
@media (max-width: 850px) {
    .searchList {
        width: 90%;
    }
}  