.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.cart {
    border-top: thin solid lightblue;
    border-bottom: thin solid lightblue;
    padding-bottom: 1rem;
}

@media (max-width: 800px) {
    .container {
        width: auto;
    }
}