


.latestSection {
    text-align: center;
}
.latestGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 1rem; 
}
.latestItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(173, 216, 230, 0.877);
}
.name {
    color: rgb(30, 92, 185);
}