.latestSection {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.latestGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    gap: 2rem; 
}
@media (max-width: 800px) {
    .latestSection {
        width: auto;
    }
    .latestGrid {
        grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
        gap: 1rem;
    }
}
