.form {
    display: flex;
    flex-direction: column;
    width: 40em;
    margin:  0 auto 2rem auto;
    text-align: left;
}
.nameDiv {
    display: flex;
    flex-direction: row;
}
.password {
    display: flex;
    flex-direction: row;
}
.emailBirth {
    display: flex;
    flex-direction: row;
}
.phoneAdress {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .form {
        width: 20em;
    }
    .nameDiv {
        flex-direction: column;
    }
    .password {
        flex-direction: column;
    }
    .emailBirth {
        flex-direction: column;
    }
    .phoneAdress {
        flex-direction: column;
    }
}