.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}
.filterProducts {
    flex: 1.5;
}
.displayedProducts {
    flex: 8.5;
    margin-left: 1rem;
}
.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    gap: 2rem; 
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        width: auto;
    }
    .productsGrid {
        grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
        gap: 1rem;
    }
    .displayedProducts {
        margin-left: 0;
    }
}